button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.top-30 {
  margin-top: 30px;
}
.navbar {
  margin-top: 10px;
}
input[type=text], select {
  width: 25%;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  justify-content: center;
  text-justify: center;
}

.input-group
{
  margin: 0 0 0 36%;

}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/*Hide All tickets div*/
#allTickets {
  display: none;
  }

